body {
    background: rgb(242 99 142/5%);
    font-family: sans-serif;
    margin: 0
}

body * {
    color: #222;
    text-decoration: none
}

#tool {
    display: inline-block;
    width: 100%
}

.toc_list li a,
#loadmorefont,
.output-fonts,
.fancyfonts {
    font-size: 18px
}

.dmca,
#cloud-labels,
#cloud-labels a,
.container-box,
#ads,
#ads-2,
#ads-3,
#ads-4,
.fancyfonts,
.toc_title,
span.copybutton,
#loadmorefont,
.loadmore {
    text-align: center
}

span.copybutton,
#loadmorefont:hover,
#cloud-labels a:hover,
.site-title {
    color: #fff
}

span.copybutton {
    background: #e02261;
    border-radius: 15px 5px 5px 15px;
    padding: 9px 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    right: 250px;
    margin-top: -62px;
    position: absolute
}

@media only screen and (max-width:1296px) {
    span.copybutton {
        font-size: 10px;
        right: 200px
    }
}

@media only screen and (max-width:950px) {
    span.copybutton {
        font-size: 10px;
        right: 105px
    }
}

@media only screen and (max-width:600px) {
    span.copybutton {
        font-size: 10px;
        right: 40px
    }
}

@media only screen and (max-width:400px) {
    span.copybutton {
        font-size: 10px;
        right: 10px
    }
    .slider,
    .share-button {
        margin-right: 5%;
        margin-left: 5%
    }
}

@media only screen and (max-width:250px) {
    span.copybutton {
        padding: 8px 12px;
        font-size: 5px;
        right: 1px
    }
}

#loadmorefont {
    padding: 12px 35px;
    border: 1px solid #e02261;
    border-radius: 5px;
    width: 50%;
    color: #e02261;
    margin-bottom: 15px;
    cursor: pointer;
    background: #fff;
    outline: 0
}

.loadmore {
    clear: both
}

#loadmorefont:hover {
    background: #eb437b
}

.footer {
    background: #fff;
    padding: 10px 40px 5px 80px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 15px;
    line-height: 1.8em
}

.footer p {
    color: #666
}

#cloud-labels {
    margin: 20px
}

#cloud-labels a {
    display: inline-block;
    text-transform: uppercase;
    color: #777;
    background: #fff;
    padding: 8px 12px;
    border-radius: 10px;
    margin: 3px 0;
    font-size: 13px;
    -webkit-box-shadow: 0 0 5px 0 rgb(0 0 0/15%);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 0 5px 0 rgb(0 0 0/15%)
}

#cloud-labels a:hover {
    background: #eb437b
}

@media screen and (max-width:450px) {
    #cloud-labels a {
        font-size: 8px
    }
}

.site-title {
    font-size: 25px;
    text-decoration: none
}

.container-box {
    background: #e02261
}

.slider {
    align-items: center;
    justify-content: flex-start;
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 30px;
    float: left;
    font-size: 14px
}

#slider {
    cursor: pointer;
    -webkit-appearance: none;
    height: 2px;
    background: #ffffff7a;
    outline: none;
    border-radius: 3px;
    border: 1px solid #b5aeae
}

.font-slider {
    display: inline-block;
    color: grey
}

@media only screen and (min-width:900px) {
    .slider {
        margin-left: 10%
    }
}

#ads,
#ads-2,
#ads-3,
#ads-4 {
    margin-left: 5%;
    margin-right: 5%
}

.resp-sharing-button__icon,
.resp-sharing-button__link {
    display: inline-block
}

.resp-sharing-button__link {
    text-decoration: none;
    color: #fff
}

.resp-sharing-button {
    transition: 25ms ease-out;
    border-radius: 50%;
    padding: 8px 10px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 1px
}

.resp-sharing-button__icon svg {
    width: 1em;
    height: 1em;
    margin-right: .4em;
    vertical-align: top
}

.resp-sharing-button--small svg {
    margin: 2px;
    vertical-align: middle
}

.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
    fill: #fff
}

.resp-sharing-button--facebook {
    background-color: #3b5998
}

.resp-sharing-button--twitter {
    background-color: #55acee
}

.resp-sharing-button--reddit {
    background-color: #5f99cf
}

.resp-sharing-button--whatsapp {
    background-color: #25d366
}

.resp-sharing-button--telegram {
    background-color: #54a9eb
}

.resp-sharing-button--facebook:active,
.resp-sharing-button--facebook:hover,
.resp-sharing-button--reddit:active,
.resp-sharing-button--reddit:hover,
.resp-sharing-button--telegram:hover,
.resp-sharing-button--twitter:active,
.resp-sharing-button--twitter:hover {
    background-color: #4b97d1
}

.share-button {
    float: right;
    margin-top: 30px;
    margin-right: 10%;
    font-size: 15px;
    color: grey
}

.resp-sharing-button--whatsapp:active,
.resp-sharing-button--whatsapp:hover {
    background-color: #1da851;
    border-color: #1da851
}

#result {
    margin-left: 10%;
    margin-right: 12%
}

h1 {
    font-size: 29px
}

@media only screen and (max-width:600px) {
    h1 {
        font-size: 24px
    }
}

h2 {
    font-size: 22px
}

.output-fonts {
    text-align: left;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, .07);
    display: block;
    width: 100%;
    padding: 25px 12px;
    margin: 10px 0;
    transition: .4s;
    border: 1px solid #e2e2e2;
    border-radius: 10px 0 0 10px;
    position: relative;
    outline: 0
}

.output-fonts:hover {
    border-color: #eb437b;
    color: #e02261;
    cursor: pointer
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100% !important
}

.fancyfonts {
    margin-left: 10%;
    margin-right: 8%;
    font-size: 18px;
    text-align: center;
    width: 78%;
    padding: 20px;
    border-radius: 0 0 7px 7px;
    border: 3px solid #dad6d6;
    position: relative;
    outline: 0;
    resize: none
}

.ad_slot1 {
    margin-bottom: 3%;
    margin-top: 5%
}

.ad_slot2 {
    margin: 10px
}

@media only screen and (max-width:850px) {
    .share-button {
        font-size: 13px;
        margin-top: 20px
    }
    .fancyfonts {
        font-size: 13px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        width: 90%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 99;
        box-shadow: 0 -2px 15px 0 rgba(0, 0, 0, .55)
    }
    .output-fonts {
        width: 100%;
        font-size: 14px
    }
    div#result {
        margin-left: 2%
    }
}

#mainbox {
    margin-left: 10%;
    margin-right: 10%
}

@media only screen and (max-width:450px) {
    #mainbox {
        margin-left: 3%;
        margin-right: 1%;
        margin-top: 20%
    }
    #result {
        margin-top: 20%
    }
}

@media only screen and (max-width:970px) {
    .ad_slot2 {
        width: auto
    }
}

#toc_container {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #aaa;
    border-radius: 20px;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 15px;
    width: auto
}

.toc_title {
    font-weight: 700;
    font-size: 25px
}

#toc_container li,
#toc_container ul,
#toc_container ul li {
    list-style: outside none none !important
}

.toc_list li a {
    color: #653dc2;
    font-family: open sans
}

ul.toc_list {
    margin: 3px
}

@media only screen and (max-width:700px) {
    .toc_list li a {
        font-size: 16px
    }
    ul.toc_list {
        padding: 10px
    }
    .footer {
        margin-left: 5%;
        margin-right: 5%;
        padding: 10px 20px 5px 25px
    }
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%
}

#abt {
    margin: auto;
    font-size: 28px
}

.out {
    font-size: 22px;
    font-weight: 700
}